body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0%;
    }
    header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    }
    .menu {
    display: flex;
    justify-content: space-around;
    color: white;
    padding: 10px;
    }
    .main {
    display: flex;
    color: white;
    justify-content: space-evenly;
    padding-bottom: 50px;
    align-items: flex-end;
    }
    .left-content {
    margin-left: 0.9%;
    }
    h1 {
    font-weight: bolder;
    font-size: 48px;
    }
    .signup {
    background-color: #3882F6;
    padding: 5px;
    width: 90px;
    color: white;
    border-radius: 5px;
    border: 0;
    }
    img {
    height: 200px;
    }
.title {
    text-align: center;
}    
.pictures {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 75px;
}
.section2 {
    display: flex;
    justify-content: center;
}
.dog1, .dog2, .dog3, .dog4 {
    height: 200px;
    width: 200px;
}
.logo {
   font-size: 24px; 
   margin-left: 30px;
}
.links {
    margin-right: 10px;
    font-size: 18px;
}
.subtext {
    font-size: 18px;
}